{erl_opts, [debug_info,
            {i, ["include"]},
            {d, xml_nif},
            {parse_transform, lager_transform}]}.

%% For behaviour info
{erl_first_files, [
    "src/gen_mod.erl",
    "src/mod_event_pusher_sns.erl"
]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               exports_not_used,
               deprecated_function_calls,
               deprecated_functions]}.

{port_specs,
 [
  {".*", "priv/lib/ejabberd_zlib_drv.so", ["c_src/ejabberd_zlib_drv.c"], [{env, [{"LDFLAGS", "$LDFLAGS -lz"}]}]},
  {".*", "priv/lib/mongoose_mam_id.so", ["c_src/mongoose_mam_id.cpp"], [{env, [{"CXXFLAGS", "$CXXFLAGS -std=c++11"}]}]}
 ]}.

{minimum_otp_vsn, "18.3"}.

{deps,
 [
  {base16,       "1.0.0"},
  {cache_tab,    "1.0.7"},
  {cowboy,       "1.1.2"},
  {epgsql,       "3.4.0"},
  {fast_tls,     "1.0.11"},
  {fusco,        "0.1.0"},
  {idna,         "1.2.0"},
  {jiffy,        "0.14.11"},
  {lager,        "3.6.0"},
  {lasse,        "1.1.0"},
  {poolboy,      "1.5.1"},
  {redo,         "2.0.1"},
  {stringprep,   "1.0.8"},
  {uuid,         "1.7.2", {pkg, uuid_erl}},
  {worker_pool,  "3.1.0"},

  {cuesport, ".*", {git, "https://github.com/esl/cuesport", {ref, "d82ff25"}}},
  {exml, ".*", {git, "https://github.com/esl/exml", {ref, "013fc58"}}},
  {exometer_core, {git, "https://github.com/esl/exometer_core", {branch, "master"}}},
  {mochijson2, ".*", {git, "https://github.com/bjnortier/mochijson2", {branch, "master"}}},
  {partial, ".*", {git, "https://github.com/hippware/partial", {branch, "master"}}},
  {usec, ".*", {git, "https://github.com/esl/usec", {branch, "master"}}}

  %% Disabled dependencies
  %% These are still called, but only in parts of the code that we don't use
  % {jwerl,        "0.1.2"},
  % {mysql,        "1.3.1"},
  % {csv, ".*", {git, "https://github.com/bszaf/csv.git", {ref, "b0b854d"}}},

  %% Disabled runtime and testing packages
  % {bbmustache,   "1.5.0"},
  % {meck,         "0.8.4"},
  % {observer_cli, "1.1.0"},
  % {proper,       "1.2.0"},
  % {recon,        "2.3.2"},
  % {exometer_report_graphite, {git, "git://github.com/esl/exometer_report_graphite.git", {branch, "master"}}},
  % {exometer_report_statsd, {git, "git://github.com/esl/exometer_report_statsd.git", {branch, "master"}}},
  % {lager_syslog, ".*", {git, "git://github.com/basho/lager_syslog.git", {ref, "3.0.3"}}},
 ]}.

{relx, [{release, { mongooseim, {cmd, "cat VERSION | tr -d '\r\n'"} },
         []}, %%Apps list is dynamicaly set by rebar.config.script

        {dev_mode, true},
        %% TODO: extra copies waste space, but mongooseim script requires the files in a certain place
        {include_erts, true},

        {generate_start_script, false},
        {extended_start_script, false},

        {overlay, [
                   {mkdir, "priv/ssl"},
                   {copy, "tools/ssl/fake_cert.pem",        "priv/ssl/fake_cert.pem"},
                   {copy, "tools/ssl/fake_key.pem",         "priv/ssl/fake_key.pem"},
                   {copy, "tools/ssl/fake_server.pem",      "priv/ssl/fake_server.pem"},
                   {copy, "tools/ssl/fake_dh_server.pem",   "priv/ssl/fake_dh_server.pem"},
                   {copy, "tools/ssl/ca/cacert.pem",        "priv/ssl/cacert.pem"},

                   {copy,     "rel/files/erl",          "erts-\{\{erts_vsn\}\}/bin/erl"},
                   {template, "rel/files/nodetool",     "erts-\{\{erts_vsn\}\}/bin/nodetool"},

                   {template, "rel/files/mongooseim",       "bin/mongooseim"},
                   {template, "rel/files/mongooseimctl",    "bin/mongooseimctl"},
                   {template, "rel/files/app.config",       "etc/app.config"},
                   {template, "rel/files/vm.args",          "etc/vm.args"},
                   {template, "rel/files/vm.dist.args",     "etc/vm.dist.args"},

                   {copy, "priv/logo.txt", "priv/logo.txt"},
                   {copy, "VERSION", "priv/VERSION"}
                  ]}

       ]}.

{dist_node,
 [{setcookie, ejabberd},
  {sname, 'mongooseim@localhost'}
 ]}.

{profiles, [ {prod,    [{relx, [ {dev_mode, false},
                                 {overlay_vars, "rel/vars.config"},
                                 {overlay, [{template, "rel/files/ejabberd.cfg", "etc/ejabberd.cfg"}]} ]}]},
             %% development nodes
             {mim1,    [{relx, [ {overlay_vars, ["rel/vars.config", "rel/mim1.vars.config"]},
                                 {overlay, [{template, "rel/files/ejabberd.cfg", "etc/ejabberd.cfg"}]} ]}]},
             {mim2,    [{relx, [ {overlay_vars, ["rel/vars.config", "rel/mim2.vars.config"]},
                                 {overlay, [{template, "rel/files/ejabberd.cfg", "etc/ejabberd.cfg"}]} ]}]},
             {mim3,    [{relx, [ {overlay_vars, ["rel/vars.config", "rel/mim3.vars.config"]},
                                 {overlay, [{template, "rel/files/ejabberd.cfg", "etc/ejabberd.cfg"}]} ]}]},
             {fed1,    [{relx, [ {overlay_vars, ["rel/vars.config", "rel/fed1.vars.config"]},
                                 {overlay, [{template, "rel/files/ejabberd.cfg", "etc/ejabberd.cfg"}]} ]}]} ]}.

{plugins,
 [
  {pc, {git, "https://github.com/blt/port_compiler.git", {ref, "c2f3fb1"}}},
  % {coveralls, {git, "https://github.com/markusn/coveralls-erl", {ref, "aaa2444"}}},
  {provider_asn1, {git, "git://github.com/knusbaum/provider_asn1.git", {ref, "29f7850"}}}
 ]}.

{provider_hooks,
 [{pre,  [{compile, {asn, compile}}, {compile, {pc, compile}}]},
  {post, [{clean, {asn, clean}}, {clean, {pc, clean}}]
  }]}.

{overrides,
  [{override, syslog,
    [ {provider_hooks,
       [ {post, [ {compile, {pc, compile}},
                  {clean, {pc, clean}} ] }] } ]},
   {override, stringprep,
    [ {provider_hooks,
       [ {post, [ {compile, {pc, compile}},
                  {clean, {pc, clean}} ] }] } ]}
 ]}.

{dialyzer, [{plt_extra_apps, [p1_utils]}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_export_enabled, true}.
{coveralls_coverdata, ["_build/test/cover/ct.coverdata",
                       "_build/mim1/rel/mongooseim/priv/cover/mongooseim@localhost.coverdata",
                       "_build/mim2/rel/mongooseim/priv/cover/ejabberd2@localhost.coverdata",
                       "_build/mim3/rel/mongooseim/priv/cover/mongooseim3@localhost.coverdata"
                       ]}.
{coveralls_service_name, "travis-ci"}.
